<section id="main">
	<div class="inner">
		<section id="one" class="wrapper style1">

			<div class="image fit flush">
				<img src="/assets/pic02.jpg" alt="" />
			</div>
			<header class="special">
				<h2>Profile Submitted</h2>
				<p>Vinci talents</p>
			</header>
			<div class="content">
				<h2>Thank you</h2>
			</div>
		</section>
	</div>
</section>