		<!-- Header -->
			<header id="header">
				<div class="logo">
					<a href="/"><img src="/assets/logo-3.png"></a>
				<!-- ><a href="#">Vinci Talents<span>by Malav</span></a> -->
				</div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<div class="rc_nav" id="centered_nav">
						<a href="javascript:void(0);" title="Menu" style="font-size:18px;" class="icon" onclick="myFunction()">&#9776;</a>
						<a href="#about">About</a>
					  <a href="#service">Services</a>
					  <a href="#ourworks">Our Talents</a>
					  <a href="#create_profile">Create Profile</a>
					</div>
				<!-- One -->
					<section id="one" class="wrapper style1">

						<!-- <div class="image fit flush">
							<img src="/assets/pic02.jpg" alt="" />
						</div> -->
						<header class="special" id="about">
							<h2>About</h2>
							<p>Vinci talents</p>
						</header>
						<div class="content">
							<p>One of the biggest talent agencies in the India, Vinci Talents represents many of the most acclaimed figures in every current and emerging area of entertainment and media, including motion pictures, television, music, digital and live entertainment. VT additionally provides portfolio shoot, modeling, acting classes and grooming classes to our talents or any one. VT also conducts different events like shoot with celebs and holiday with celebs.
							</p>
						</div>
					</section>
					<!-- Three -->
					<section id="four" class="wrapper style2">
						<header class="special" id="service">
							<h2>Services</h2>
							<p>Vinci talents</p>
						</header>
						<div>
							<div class="flex flex-wrap -m-3">
								<div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
							    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col" style="height: 250px">
							      <div class="p-4 flex-1 flex flex-col" style="">
							        <h3 class="mb-4 text-2xl" style="text-align: center;height: 50px">Talent Management</h3>
							        <div class="mb-4 text-grey-darker text-sm flex-1">
							          <p style="text-align: center">Find all the talants exclusively on board with us for events, ads, movies, prints, digitals and so on.</p>
							        </div>
							        <a href="talent_management" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="margin: 0px auto;">Read more..</a>
							      </div>
							    </div>  
							  </div> 
							  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
							    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col" style="height: 250px">
							      <div class="p-4 flex-1 flex flex-col" style="">
							        <h3 class="mb-4 text-2xl" style="text-align: center; height: 50px">Celebrity management</h3>
							        <div class="mb-4 text-grey-darker text-sm flex-1">
							          <p style="text-align: center">A division of Vinci talents where you can find all the celebrities on board with us.</p>
							        </div>
							        <a href="celebrity_management" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="margin: 0px auto;">Read more..</a>
							      </div>
							    </div>  
							  </div>	  
							  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
							    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col" style="height: 250px">
							      <div class="p-4 flex-1 flex flex-col" style="">
							        <h3 class="mb-4 text-2xl" style="text-align: center;height: 50px">Artist Management</h3>
							        <div class="mb-4 text-grey-darker text-sm flex-1">
							          <p style="text-align: center">Check out All of our best Creative artists we have on board who are professional trained for hairstyling, photography, costume designing, lighting, and so on.</p>
							        </div>
							        <a href="artist_management" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="margin: 0px auto;">Read more..</a>
							      </div>
							    </div>  
							  </div>
								<div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
							    <div class="bg-white rounded-lg shadow-lg overflow-hidden  flex flex-col" style="height: 250px">
							      <div class="p-4 flex-1 flex flex-col" style="">
							        <h3 class="mb-4 text-2xl" style="text-align: center;height: 50px">Event Management</h3>
							        <div class="mb-4 text-grey-darker text-sm flex-1">
							          <p style="text-align: center">Be upto date with our Upcoming events and also check out our most enthusiastic and fun events done recently.</p>
							        </div>
							        <a href="event_management" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="margin: 0px auto;">Read more..</a>
							      </div>
							    </div>  
							  </div>
							  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
							    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col" style="height: 250px">
							      <div class="p-4 flex-1 flex flex-col" style="">
							        <h3 class="mb-4 text-2xl" style="text-align: center;height: 50px">Shoot with celebrity</h3>
							        <div class="mb-4 text-grey-darker text-sm flex-1">
							          <p style="text-align: center">Celebrate an awesome day meeting & greeting your favourite celebrities we have on board and also enjoy a fabulous photoshoot session with them.</p>
							        </div>
							        <a href="http://shootwithcelebs.com/" class="border-t border-grey-light pt-2  text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="margin: 0px auto;" target="_blank">Read more..</a>
							      </div>
							    </div>  
							  </div>							  
							  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
							    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col" style="height: 250px">
							      <div class="p-4 flex-1 flex flex-col" style="">
							        <h3 class="mb-4 text-2xl" style="text-align: center;height: 50px">Holiday with celebrity</h3>
							        <div class="mb-4 text-grey-darker text-sm flex-1">
							          <p style="text-align: center">An opportunity by VINCI talents specially for you guys to enjoy a whole day with our Celebrities in our most luxurious and beautiful 5 star properties and resorts so you can enjoy a life of a celebrity.</p>
							        </div>
							        <a href="holiday_with_celebrity" class="border-t border-grey-light pt-2  text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="margin: 0px auto;">Read more..</a>
							      </div>
							    </div>  
							  </div>
							  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
							    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col" style="height: 250px">
							      <div class="p-4 flex-1 flex flex-col" style="">
							        <h3 class="mb-4 text-2xl" style="text-align: center;height: 50px">Portfolio shoot</h3>
							        <div class="mb-4 text-grey-darker text-sm flex-1">
							          <p style="text-align: center">Portfolio shoot in mind?. Shoot with our best & professional photographers and their team. Check our work and apply for a creative and stylish portfolio soon!</p>
							        </div>
							        <a href="portfolio_shoot" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="margin: 0px auto;">Read more..</a>
							      </div>
							    </div>  
							  </div>
							  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
							    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col" style="height: 250px">
							      <div class="p-4 flex-1 flex flex-col" style="">
							        <h3 class="mb-4 text-2xl" style="text-align: center;height: 50px">Modeling acting and grooming classes</h3>
							        <div class="mb-4 text-grey-darker text-sm flex-1">
							          <p style="text-align: center">Get an acting and grooming course we provide where you will receive training from actors, casting directors, and others along with a grooming session who will help you understand your style.</p>
							        </div>
							        <a href="modeling_acting_and_grooming_classes" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="margin: 0px auto;">Read more..</a>
							      </div>
							    </div>  
							  </div>	  
							  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
							    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col" style="height: 250px">
							      <div class="p-4 flex-1 flex flex-col" style="">
							        <h3 class="mb-4 text-2xl" style="text-align: center; height: 50px">S affairs ( Inspiring interviews )</h3>
							        <div class="mb-4 text-grey-darker text-sm flex-1">
							          <p style="text-align: center">Find inspirational and motivational interviews and chats with one of the best actors, celebrities, director, casting directors and producers.</p>
							        </div>
							        <a href="s_affairs" class="border-t border-grey-light pt-2 text-xs text-grey hover:text-red uppercase no-underline tracking-wide" style="margin: 0px auto;">Read more..</a>
							      </div>
							    </div>  
							  </div>
							</div>
						</div>						
					</section>
					<!-- Three -->
					<section id="three" class="wrapper style2">
						<header class="special" id="ourworks">
							<h2>Our Talents</h2>
							<p>Vinci talents</p>
						</header>
						<section class="section">
							<div class="content">
								<div class="gallery">
								  <div class="img-w">
								    <img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/vaishnavi.jpg" alt="" />
								  </div>
								  <div class="img-w">
								  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ANGELA.jpg" alt="" />
								  </div>
								  <div class="img-w">
								  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/hemali.jpg">
								  </div>
								  <div class="img-w">
								  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/KAT.jpg" alt="" />
								  </div>
								  <div class="img-w">
								  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/DIKSHA.jpg" alt="" />
								  </div>
								  <div class="img-w">
								  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ONIMA.jpg" alt="" />
								  </div>
								  <div class="img-w">
								  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ISHITA.jpg" alt="" />
								  </div>
								  <div class="img-w">
								  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/SANJEEDA+2.jpg" alt="" />
								  </div>
								  <div class="img-w">
								  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/alankrita.jpg" alt="" />
								  </div>
								</div>
							</div>
							<div class="content" style="display: none">
								<div class="gallery">
									<div>
										<div class="image fit flush">
											<a href="https://s3.ap-south-1.amazonaws.com/vinci-production/models/vaishnavi.jpg"><img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/vaishnavi.jpg" alt="" /></a>
										</div>
									</div>
									<div>
										<div class="image fit flush">
											<a href="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ANGELA.jpg"><img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ANGELA.jpg" alt="" /></a>
										</div>
									</div>
									<div>
										<div class="image fit flush">
											<a href="https://s3.ap-south-1.amazonaws.com/vinci-production/models/hemali.jpg"><img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/hemali.jpg" alt="" /></a>
										</div>
									</div>
									<div>
										<div class="image fit flush">
											<a href="https://s3.ap-south-1.amazonaws.com/vinci-production/models/KAT+KRISTIAN.jpg"><img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/KAT+KRISTIAN.jpg" alt="" /></a>
										</div>
									</div>
								</div>
							</div>
						  <div class="grid" style="display: none">
						    <div class="item">
						      <div class="item__details">
						        Vaishnavi
						      </div>
						    </div>
						    <div class="item item--large">
						      <div class="item__details">
						        Muffin jelly gingerbread 
						      </div>
						    </div>
						    <div class="item item--medium">
						      <div class="item__details">
						        sesame snaps chocolate
						      </div>
						    </div>
						    <div class="item item--large">
						      <div class="item__details">
						        Oat cake
						      </div>
						    </div>
						    <div class="item item--full">
						      <div class="item__details">
						         jujubes cheesecake
						      </div>
						    </div>
						    <div class="item item--medium">
						      <div class="item__details">
						        Dragée pudding brownie
						      </div>
						    </div>
						    <div class="item item--large">
						      <div class="item__details">
						        Oat cake
						      </div>
						    </div>
						    <div class="item">
						      <div class="item__details">
						        powder toffee
						      </div>
						    </div>
						    <div class="item item--medium">
						      <div class="item__details">
						        pudding cheesecake
						      </div>
						    </div>
						    <div class="item item--large">
						      <div class="item__details">
						        toffee bear claw 
						      </div>
						    </div>
						    <div class="item">
						      <div class="item__details">
						        cake cookie croissant
						      </div>
						    </div>
						    <div class="item item--medium">
						      <div class="item__details">
						        liquorice sweet roll
						      </div>
						    </div>
						    <div class="item item--medium">
						      <div class="item__details">
						        chocolate marzipan
						      </div>
						    </div>
						    <div class="item item--large">
						      <div class="item__details">
						        danish dessert lollipop
						      </div>
						    </div>
						    <div class="item">
						      <div class="item__details">
						        sugar plum dragée
						      </div>
						    </div>
						  </div>
						</section>					
					</section>
					<!-- Two -->
					<section id="two" class="wrapper style2">
						<header id="create_profile">
							<h2>Create your profile</h2>
							<p>We help visionary talent reach further</p>
						</header>
						<div class="content">
							<div class="gallery">
								<div style="margin: 0px auto">
									<div class="image fit flush" style="text-align: center; margin-top: 20px !important;">
										<a href="/profiles"><span><i class="far fas fa-user fa-10x"></i></span></a>
									</div>
								</div>								
							</div>
						</div>
					</section>

				

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.youtube.com/channel/UC7B9pBklBtKUsNZHw4NKiZQ" class="icon"><i class="fab fa-youtube fa-3x"></i><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/people/Vinci-Talents/100015233298288" class="icon"><i class="fab fa-facebook fa-3x"></i><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon"><i class="fab fa-instagram fa-3x"></i><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon"><i class="fas fa-envelope fa-3x"></i><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Vinci Talents. All rights reserved.
				</div>
			</footer>	
			<script type="text/javascript">
				function myFunction() {
			    var x = document.getElementById("centered_nav");
			    if (x.className === "rc_nav") {
			        x.className += " responsive";
			    } else {
			        x.className = "rc_nav";
			    }
				}
			</script>	

			<script type="text/javascript">
				$(function() {
				  $(".img-w").each(function() {
				    $(this).wrap("<div class='img-c'></div>")
				    let imgSrc = $(this).find("img").attr("src");
				     $(this).css('background-image', 'url(' + imgSrc + ')');
				     
				  })
				            
				  
				  $(".img-c").click(function() {
				    let w = $(this).outerWidth()
				    let h = $(this).outerHeight()
				    let x = $(this).offset().left
				    let y = $(this).offset().top
				    
				    
				    $(".active").not($(this)).remove()
				    let copy = $(this).clone();
				    copy.insertAfter($(this)).height(h).width(w).delay(500).addClass("active")
				    $(".active").css('top', y - 8);
				    $(".active").css('left', x - 8);
				    
				      setTimeout(function() {
				    copy.addClass("positioned")
				  }, 0)
				    
				  }) 
				})

				$(document).on("click", ".img-c.active", function() {
				  let copy = $(this)
				  copy.removeClass("positioned active").addClass("postactive")
				  setTimeout(function() {
				    copy.remove();
				  }, 500)
				})
			</script>