<header id="header">
	<div class="logo">
		<a href="/"><img src="/assets/logo-3.png"></a>
	<!-- ><a href="#">Vinci Talents<span>by Malav</span></a> -->
	</div>
</header>
<section id="main" ng-controller="TodoListController" ng-init="init()">
	<div class="inner">
		<section id="one" class="wrapper style1">
			<header class="special">
				<h2>Modeling, Acting And Grooming</h2>
				<p>Vinci talents</p>
			</header>
		</section>
	</div>
</section>