<style type="text/css">
	.img-c {
		margin: 20px;
		width: 300px;
		height: 300px
	}
</style>
<header id="header">
	<div class="logo">
		<a href="/"><img src="/assets/logo-3.png"></a>
	<!-- ><a href="#">Vinci Talents<span>by Malav</span></a> -->
	</div>
</header>
<section id="main" ng-controller="TodoListController" ng-init="init()">
	<div class="inner">
		<section id="one" class="wrapper style1">
			<header class="special">
				<h2>Talent Management</h2>
				<p>Vinci talents</p>
			</header>
		</section>
		<section class="section">
			<div class="content">
				<div class="gallery" style="width: 100%">
				  <div class="img-w">
				    <img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/vaishnavi.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ANGELA.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/KARIM.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/hemali.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ketika.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/KAT.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/KAVYA.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/DIKSHA.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ONIMA.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ISHITA.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/MANUL.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/SANJEEDA+2.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/alankrita.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/PARZAAN.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/POOJA.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/RITURAJ.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/SUKOON.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/YOGITA.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/abhilash.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/anderson.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/charu.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/chitra.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/devdutt.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/hitesh.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/jaiti.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/jhinal.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/kushagree.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/mahima.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/natasha.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/nidhi.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/priyal.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/sanjana.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/shiv.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/shree.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/srishti.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/tanya.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/ulka.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/vidya.jpg" alt="" />
				  </div>
				  <div class="img-w">
				  	<img src="https://s3.ap-south-1.amazonaws.com/vinci-production/models/virti-1.jpg" alt="" />
				  </div>
				</div>
			</div>
		</section>
	</div>
</section>
<script type="text/javascript">
				$(function() {
				  $(".img-w").each(function() {
				    $(this).wrap("<div class='img-c'></div>")
				    let imgSrc = $(this).find("img").attr("src");
				     $(this).css('background-image', 'url(' + imgSrc + ')');
				     
				  })
				            
				  
				  $(".img-c").click(function() {
				    let w = $(this).outerWidth()
				    let h = $(this).outerHeight()
				    let x = $(this).offset().left
				    let y = $(this).offset().top
				    
				    
				    $(".active").not($(this)).remove()
				    let copy = $(this).clone();
				    copy.insertAfter($(this)).height(h).width(w).delay(500).addClass("active")
				    $(".active").css('top', y - 8);
				    $(".active").css('left', x - 8);
				    
				      setTimeout(function() {
				    copy.addClass("positioned")
				  }, 0)
				    
				  }) 
				})

				$(document).on("click", ".img-c.active", function() {
				  let copy = $(this)
				  copy.removeClass("positioned active").addClass("postactive")
				  setTimeout(function() {
				    copy.remove();
				  }, 500)
				})
			</script>