<section id="main">
	<div class="inner">
		<section id="one" class="wrapper style1">

			<div class="image fit flush">
				<img src="/assets/pic05.jpg" alt="" />
			</div>
			<header class="special">
				<h2>Profile</h2>
				<p>Vinci talents</p>
			</header>
			<div class="content">
				<!-- Form -->				
				<form method="post" action="#">
					<div class="row uniform">
						<div class="6u 12u$(xsmall)">
							<input type="text" name="first_name" id="first_name" value="" placeholder="First Name" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="email" name="email" id="email" value="" placeholder="Email" />
						</div>
						<div class="6u 12u$(xsmall)">
							<input type="text" name="last_name" id="last_name" value="" placeholder="Last Name" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="text" name="number" id="number" value="" placeholder="Number" />
						</div>
						<!-- Break -->
						<div class="12u$">
							<div class="select-wrapper">
								<select name="category" id="category">
									<option value="">- Category -</option>
									<option value="1">Manufacturing</option>
									<option value="1">Shipping</option>
									<option value="1">Administration</option>
									<option value="1">Human Resources</option>
								</select>
							</div>
						</div>
						<!-- Break -->
						<div class="4u 12u$(small)">
							<input type="radio" id="priority-low" name="priority" checked>
							<label for="priority-low">Low Priority</label>
						</div>
						<div class="4u 12u$(small)">
							<input type="radio" id="priority-normal" name="priority">
							<label for="priority-normal">Normal Priority</label>
						</div>
						<div class="4u$ 12u$(small)">
							<input type="radio" id="priority-high" name="priority">
							<label for="priority-high">High Priority</label>
						</div>
						<!-- Break -->
						<div class="6u 12u$(small)">
							<input type="checkbox" id="copy" name="copy">
							<label for="copy">Email me a copy of this message</label>
						</div>
						<div class="6u$ 12u$(small)">
							<input type="checkbox" id="human" name="human" checked>
							<label for="human">I am a human and not a robot</label>
						</div>
						<!-- Break -->
						<div class="12u$">
							<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
						</div>
						<!-- Break -->
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Submit Profile" /></li>
								<li><input type="reset" value="Reset" class="alt" /></li>
							</ul>
						</div>
					</div>
				</form>

				<hr />			
			</div>
		</section>
	</div>
</section>
<footer id="footer">
	<div class="container">
		<ul class="icons">
			<li><a href="#" class="icon"><i class="fab fa-twitter fa-3x"></i><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon"><i class="fab fa-facebook fa-3x"></i><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon"><i class="fab fa-instagram fa-3x"></i><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon"><i class="fas fa-envelope fa-3x"></i><span class="label">Email</span></a></li>
		</ul>
	</div>
	<div class="copyright">
		&copy; Vinci Talents. All rights reserved.
	</div>
</footer>
